header {
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  overflow: hidden;
  border-radius: 0 0 75% 75% / 30%;
  background: url(./img/fixed-bg.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
header .overlay {
  padding: 50px;
  color: #fff;

  background-image: linear-gradient(100deg, #174d09d2 10%, #f0f1ee6b 100%);
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  margin-bottom: 30px;
}

h3,
p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

h1 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}

.content {
  top: 5vh;
  margin: 30px 10vw;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

.services {
  margin-top: 30px;
  padding: 10px 10px;
}

.img-services {
  width: 200px;
  height: 200px;
}

.some-doctors {
  width: 250px;
  height: 280px;
}

.nav {
  overflow: hidden;
  color: white;
}

.list-group {
  background-image: linear-gradient(to right, #ff5722, #ff9800);
  border: 2px solid #ff5722;
  margin-left: 20%;
  margin-right: 20%;
}
#pharmacy {
  border: none;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.7s;
}

#pharmacy:hover {
  width: 400px;
}
#hospital {
  border: none;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.7s;
}

#hospital:hover {
  width: 400px;
}
#doctor {
  border: none;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.7s;
}

#doctor:hover {
  width: 400px;
}
