section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
}
section#contact .section-heading {
  color: black;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
